<!DOCTYPE html>
<html>
<head>
  <title>Where Can Americans Travel Right Now?</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script> 
  <script src="https://unpkg.com/topojson-client@3"></script> 
  <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
  <!-- <script type="text/javascript" src="d3/d3.min.js"></script>
  <script type="text/javascript" src="d3-geo-projection/d3-geo-projection.min.js"></script> -->

</head>
<body>
  <nav class="d-flex shadow pt-3 pb-1 flex-column  bg-light">
      <h5 class="title m-0 text-center"><a href="/" class="text-dark"><span><svg class="mb-1 ml-2" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>Where Can Americans Travel Right Now?</a></h5>
      <small class="text-muted text-center pb-2">click to zoom into the map and more detailes will show. <!-- For Mobile users, Use two fingers to pan and zoom. Tap for details. --> </small>
  </nav>
  <main id="map"></main>
  <div class="text-muted text-center pt-3 sources"><small>Sources: <a class="text-muted" href="https://www.traveloffpath.com/countries-that-have-reopened-for-american-tourists/">Travel Off Path,</a><a class="text-muted" href="https://ourworldindata.org/coronavirus"> OurWorldInData,</a><a class="text-muted" href="https://github.com/topojson/world-atlas"> TopoJSON</a></small></div>
  <div class="container">
    <article class="article"></article>
  </div>
  <script type="text/javascript" src="client.js"></script>
</body>
</html>

