/* map */
#map {
  width: 100vw;
  height: 78vh;
}
svg rect {
  fill: #D1DBE1;   /* map background colour */
}
.country_path{
  stroke: #D1DBE1; /* country border colour */
  stroke-width: 1; /* country border width */
} 
.hover {
  cursor: pointer;
}
.tooltip{
  color: #222;
  background-color: #fff;
  padding: 1.2rem 2rem;
  line-height: .8rem;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: .6rem;
  opacity: .9;
  position: absolute;
}
th, td {padding: .4rem 0 0;}
.text_right { text-align: right; }
.bold {font-weight: 900;}
.hidden {
  display: none;
}
.countryName {
  font-size: 0.8rem;
  /* font-weight: 700; */
}
.tomato {
  color: #e23f3f;
}
.main_color {
  color: #0e90f9;
}
/* others */
.title {font-size: 1.1rem; line-height: 2rem;}
.bubble {
    position: absolute;
    top: 46%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #f8f9fa;
    filter: contrast(20);
  }
  .bubble .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }
  .bubble .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }
  .bubble .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
  }
  @-moz-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-webkit-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-o-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-moz-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @-webkit-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @-o-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }

  @media only screen and (max-width: 600px) {
    #map {
      width: 100vw;
      height: 14vh;
    }
  }
  