body {font-family: 'Manrope', sans-serif; font-weight: 500;}
#map {width: 100vw;height: 44vh;}
.small, small {font-size: 84% !important; font-weight: 500 !important;}
.back_color {fill: #D1DBE1; background-color: #D1DBE1;}
.back2_color {background-color:#edeff4;}
.country_path{stroke: #D1DBE1; /* country border colour */stroke-width: 1; /* country border width */} 
.hover {cursor: pointer;}
th, td {padding: .4rem 0 0;}
.text_right { text-align: right; }
.bold {font-weight: 800 !important;}
.hidden {display: none;}
.bubbles {opacity: .8;}
.table tr {line-height: 0.2rem;}
.tooltip{
  color: #fff;
  background-color: #222;
  padding: 1.2rem 1.8rem;
  line-height: .8rem;
  border-radius: .2rem;
  opacity: .88;
  position: absolute;
}
.legend_info {
  color: #222;
  background-color: #fff;
  padding: 1.1rem 1.1rem 0.2rem 1.2rem;
  line-height: .8rem;
  border-radius: .2rem;
  opacity: .82;
  font-size: .68rem;
  position: absolute;
  width: 220px;
}

/* others */
.title {font-size: 1.1rem; line-height: 1rem;}
.bubble {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #f8f9fa;
    filter: contrast(20);
  }
  .bubble .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }
  .bubble .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }
  .bubble .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
  }
  @-moz-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-webkit-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-o-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-moz-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @-webkit-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @-o-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }

  @media only screen and (max-width: 600px) {
    #map {
      width: 100vw;
      height: 14vh;
    }
  }