<!DOCTYPE html>
<html>
<head>
  <title>Where Americans Can Travel Now?</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script> 
  <script src="https://unpkg.com/topojson-client@3"></script> 
  <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
</head>
<body>
  <nav class="d-flex shadow pt-3 pb-1 flex-column border-bottom bg-light">
      <h5 class="title mt-0 text-center mb-1"><span><svg class="mb-1 mx-2" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>Where Americans Can Travel Now <span class="main_color">Without Mandatory Quarantines?</span></h5>
      <small class="text-center pb-1">Hover Country Name For More Details About COVID-19.</small>
  </nav>
  <main id="map"></main>
  <div class="text-dark text-center pt-3 sources">
    <small>The Complete List Is <span class="find_update"></span> @<a class="text-dark" href="https://www.traveloffpath.com/countries-that-have-reopened-for-american-tourists/" target="_blank">Travel Off Path</a></small><br/>
    <small>Along with the <a class="text-dark" href="https://ourworldindata.org/coronavirus" target="_blank">OurWorldInData</a> <span class="bold"> (COVID-19) in real-time</span> and <a class="text-dark" href="https://github.com/topojson/world-atlas" target="_blank"> TopoJSON.</a></small>
  </div>
  <div class="container">
    <article class="article"></article>
  </div>
  <script type="text/javascript" src="client.js"></script>
</body>
</html>


<!-- Q: Are Americans Allowed To Travel Right Now? Yes. Even though the U.S. government has a level-4 “Avoid All Travel” advisory in place, American’s are still permitted to leave the country as they wish. However, upon returning to the U.S. some travelers may face a 14-day quarantine, based on the state. Some states have no quarantine requirements. -->